@mixin tile() {
  background-color: var(--bs-white);
  color: var(--bs-black);
  box-shadow: var(--bs-box-shadow);
  text-decoration: none;

  &:hover {
    background-color: var(--bs-dark);
    color: var(--bs-light);
  }
}
