@mixin tile($border-radius: var(--bs-border-radius)) {
  border-radius: $border-radius;
  background-color: var(--bs-white);
  color: var(--bs-black);
  box-shadow: var(--bs-box-shadow);
  text-decoration: none;

  &:hover {
    background-color: var(--bs-gray-dark);
    color: var(--bs-gray-100);
  }
}
